body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBar{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0 ,0 ,0);
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.Nav-link{
  padding: 10px;
  color:rgba(255 ,255 ,255 ,0.8);
  text-decoration: none;
}

.Nav-link:hover{
  color: white;
  transition: color 0.7s ease;
  font-size: 1.1em;
  transition: font-size 0.5s ease;
  font-weight: bold;
}

.Nav-link:active{
  color:white;
}

.App{
  background-color: black;
}

.home-page{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.outerblock{
  width: 100%;
  height: 100%;
  background: url('./images/background_try.gif') no-repeat center center;
  background-size:contain; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerblock {
  width: 60%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  filter: brightness(100%);
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  border-radius: 10px;
}

.innerblock h1{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.innerblock:hover{
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.6s ease;
}

.Animated-text{
  font-size: 28px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.innerblock .RB{
  margin: 0 40px;
  padding: 10px;
  background-color: cornflowerblue;
  color: wheat;
  border: 3px solid green;
  border-radius: 10px;
}

.innerblock .RB:hover{
  background-color: black;
  transition: background-color 0.4s ease;
}

.innerblock .CB{
  padding: 10px;
  background-color: green;
  color: white;
  border: 3px solid cornflowerblue;; /* Add border to buttons */
  border-radius: 10px;
}

.innerblock .CB:hover{
  background-color: black;
  transition: background-color 0.4s ease;
}

.imgcntr{
  height: 46%;
  width : 30%;
  background: url('./images/myimg.jpg') no-repeat center center/cover;
  border-radius: 10px;
  overflow: hidden;
}

.imgcntr:hover{
  height: 50%;
  width: 33%;
  transition: height 0.6s ease, width 0.6s ease;
}


.shooting-star {
  position: absolute;
  top: 10%;
  right: 0;
  width: 100px;
  height: 100px; 
  background-image: url('./images/asteroid.gif');
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.imgcntr:hover .shooting-star {
  opacity: 1; 
  transform: translate(-650%, 650%) scale(0);
  transition: transform 2s ease, opacity 0.5s ease;
}

.About-outer{
  color: white;
  display:flex;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.lights-cntr {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.l1{
  display: flex;
  height: 300px;
  width : 200px;
  background: url('./images/lamp.png') no-repeat center/cover;
  padding: 40px;
  margin-top: 10px;
}

.myimg2{
  display: flex;
  height: 300px;
  width : 200px;
  background: url('./images/myimg.jpg') no-repeat center/cover;
  padding: 40px;
  margin-top: 10px;
}

.about-data{
  flex-direction: column;
  font-size: large;
  line-height: 1.5;
  text-align: left;
  padding: 3%;
}
